<footer>
  <div class="footer-top">
      <div class="container">
          <div class="row gy-5">
              <div class="col-md-4">
                  <h4><a href="#" class="text-white">Northwind</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam accusantium vero sunt!</p>
                  <ul class="navbar-nav flex-row">
                      <li class="nav-item">
                          <a class="social-icon" href="#"><i class="ri-dribbble-line"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="social-icon" href="#"><i class="ri-github-line"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="social-icon" href="#"><i class="ri-instagram-line"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="social-icon" href="#"><i class="ri-youtube-line"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3 ms-auto">
                  <h4>Quick Links</h4>
                  <ul>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h4>Contact</h4>
                  <ul>
                      <li>Email: Northwind@example.com</li>
                      <li>Phone: (+933-444-556)</li>
                      <li>Address: Jezero Crater, Mars</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-auto">
                  <p class="mb-0">Copyright text goes here</p>
              </div>
              <div class="col-auto">
                  <p class="mb-0">designed by <a href="">Ing.Damian Almada</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>
